<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="veza" connectionString="Data Source=NIKOLA\NIKOLA;Initial Catalog=konzole;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <sessionState timeout="60" />
  </system.web>

</configuration>
