body {
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}

#footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}